body{
font-family: 'Rubik', sans-serif;
margin: 0%;
}
h1{
    font-size: 55px;
}

.highlight{
    color: rgb(250, 105, 69);
}
.flexible-container{
    display: flex;
    padding-bottom: 100px;
}
.section2{
    
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 10%;
    color: rgb(97, 97, 97);
}
.half-width img{
    width: 70%;
    padding-left: 10%;
}

.half-width p{
    margin-bottom: 50px;
}
.fraction-width{
    width: 30%;
    padding: 3%;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 5px 10px 20px grey;

}
.fraction-width img{
    width: 80%;
    border-radius: 10%;
}

.recepie{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: rgb(97, 97, 97);
}
.shop{
    text-decoration: none;
    background-image: radial-gradient( orange, red);
    padding: 10px 50px;
    margin-top: 50px;
    border-radius: 40px;
    color: white;
    font-weight: 400;
}

.achievements{
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.footer{
    color: white;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    
}

.review{
    background-color: rgba(236, 82, 11, 0.507);
    padding-top: 50px;
    border-radius: 5%;
   
}

.review h2{
    text-align: center;
}
.review img{
    max-width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 50%;
}


.footer-span1{
    color: rgba(211, 90, 9, 0.863);
}
.footer-span2{
    color: grey
}

.header {
    overflow: hidden;
    background-color: rgba(241, 76, 35, 0.863);
  }
.header ul li{
    display: inline;
}
.header a {
    display: inline;
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 20px;
  }